.selfTrigger {
  margin-left: 12px;
}
.description {
  margin-top: 16px;
  line-height: 22px;
}
a.listItemMetaTitle {
  color: aqua;
}
.listItemExtra {
  width: 272px;
  height: 1px;
}
.container {
  text-align: center;
}
